<%- include('../partials/header.ejs') %>

<div class="container">
  <div class="embed-responsive embed-responsive-16by9 readMoreVid">
    <iframe class='embed-responsive-item' width="560" height="315" src="https://www.youtube.com/embed/SyxlScl3lp0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <h1 class='readMoreTitle'>100 subscriber giveaway</h1>
  <p class='readMoreText'>I'd like to thank my first 100 subscribers by doing a giveaway. Comment below what you'd like! Keep it realistic though, please XD</p>
</div>

<div class="container comments-container">
  <h3 class='mb-5'>COMMENTS: <a href="/100-sub-giveaway/write"><button class='btn btn-danger btn-lg float-right'>Write <i class="fas fa-pencil-alt"></i></button></a></h3>
  
  <% comments.forEach(function(comment){ %>
    <h5><%= comment.author.username %></h5>
    <h6>on <%= comment.date %></h6>
    <p><%= comment.text %></p>
    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>

      <a class='btn peripheral-btns' href="/<%= comment._id %>/edit"><i class="fas fa-edit"></i></a>
      <form action="/<%= comment._id %>?_method=DELETE" method='POST'>
        <button class='btn peripheral-btns' type="submit"><i class="fas fa-trash"></i></button>
      </form>
    <% } %>
    <hr>
  <% }) %>

</div>

<%- include('../partials/footer.ejs') %>